<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список юзеров</title>
</head>
<body>
<div>
    <table style="border-collapse: collapse;">
        <tr th:each="user : ${users___}">
            <td style="border: 1px solid black;" th:text="   ${user.id}   "></td>
            <td style="border: 1px solid black;" th:text="${user.username}   "></td>
            <td style="border: 1px solid black;" th:text="${user.firstName}   "></td>
            <td style="border: 1px solid black;" th:text="   ${user.lastName}   "></td>
            <td style="border: 1px solid black;" th:text="   ${user.eMail}   "></td>
            <td style="border: 1px solid black;">
                <table style="border-collapse: collapse;">
                    <tr th:each="role : ${user.roles}">
                        <td style="border: 1px solid black;" th:text="   ${role.roleName}   "></td>
                    </tr>
                </table>
            </td>

            <td>
                <a th:href="@{admin/edit(userId=${user.id})}">edit</a>
                <a th:href="@{admin/delete(userId=${user.id})}">delete</a>
            </td>
        </tr>
    </table>
<div>
        <a th:href="@{admin/adduser}">Add new user</a>
</div><br><br><br>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <h3><input type="submit" value="Log out" /></h3>
    </form>
</div>
</body>
</html>
