<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Панель Администратора. Список пользователей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="col-auto me-auto">
            <span class="navbar-brand mx-0 mb-0 h1" sec:authentication="name"></span>
            <span class="navbar-brand mx-0">with roles: </span>
            <span class="navbar-brand mx-0" th:each="role : ${#authentication.principal.authorities}"
                  th:text="${role.trimName} + ' '"></span>
        </div>
        <div class="col-auto">
            <div class="navbar-text">
                <a sec:authorize="isAuthenticated()" class="link-underline-dark" href="/logout">Log out</a>
                <a sec:authorize="!isAuthenticated()" class="link-underline-dark" href="/login">Log in</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid full">
    <div class="row vh-100">
        <div class="col-2">
            <div class="pt-3">
                <div class="row">
                    <a class="btn btn-primary text-start text-decoration-none" aria-current="page"
                       href="/admin">Admin</a>
                </div>
                <div class="row">
                    <a class="btn text-start text-decoration-none text-primary" aria-current="page"
                       href="/user">User</a>
                </div>
            </div>
        </div>
        <div class="col-10 px-0 bg-light">
            <div class="row p-4 mx-3">
                <div class="text-start">
                    <p class="fs-1 fw-bold">Admin panel</p>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{admin/adduser}">New user</a>
                    </li>
                </ul>
                <div class="border border-gray rounded-2 px-0">
                    <div class="border-bottom">
                        <p class="text-start fs-3 align-middle m-1 mx-3">All users</p>
                    </div>
                    <div class="bg-warning">
                        <div class="bg-white py-4 px-4">
                            <table id="usersTable" class="table table-striped border-top">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Ник</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">e-Mail</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersTbody">
                                <tr id="userTr" th:each="user : ${users___}">
                                    <td id="userIdInTd" class="align-middle" th:text="   ${user.id}   "></td>
                                    <td id="nick" class="align-middle" th:text="${user.username}   "></td>
                                    <td id="firstNameInTd" class="align-middle" th:text="${user.firstName}   "></td>
                                    <td id="lastNameInTd" class="align-middle" th:text="   ${user.lastName}   "></td>
                                    <td id="eMailInTd" class="align-middle" th:text="   ${user.eMail}   "></td>
                                    <td class="align-middle">
                            <span th:each="role : ${user.authorities}" th:text="${role.trimName} + ' '">
                            </span>
                                    </td>
                                    <td class="align-middle">
                                        <button type="button" class="btn btn-info text-white" data-bs-toggle="modal"
                                                data-bs-target="#editModalTemplate"
                                                th:data-id="${user.id}"
                                                th:data-nickName="${user.username}"
                                                th:data-firstname="${user.firstName}"
                                                th:data-lastname="${user.lastName}"
                                                th:data-email="${user.eMail}"
                                                data-action="edit">

                                            Edit
                                        </button>
                                    </td>
                                    <td class="align-middle">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#editModalTemplate"
                                                th:data-id="${user.id}"
                                                th:data-nickName="${user.username}"
                                                th:data-firstname="${user.firstName}"
                                                th:data-lastname="${user.lastName}"
                                                th:data-email="${user.eMail}"
                                                data-action="delete">
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="editModalTemplate" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="POST" id="editForm" action="/admin/edit" enctype="multipart/form-data" novalidate>
                    <div class="row text-center justify-content-center">
                        <div class="col-6 mb-3 mx-4">
                            <label for="userId" class="form-label mb-0 fw-bold">ID</label>
                            <input name="id" id="userId" type="text" class="form-control" style="background: lightgray;"
                                   readonly>
                        </div>
                        <br>
                        <div class="col-6 mb-3 mx-4">
                            <label for="nickName" class="form-label mb-0 fw-bold">Ник</label>
                            <input name="nickName" id="nickName" type="text" class="form-control">
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="firstName" class="form-label mb-0 fw-bold">Имя</label>
                            <input name="firstName" id="firstName" type="text" class="form-control">
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="lastName" class="form-label mb-0 fw-bold">Фимилия</label>
                            <input name="lastName" id="lastName" type="text" class="form-control">
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="eMail" class="form-label mb-0 fw-bold">Email address</label>
                            <input name="eMail" id="eMail" type="email" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-6 mb-3 mx-4" id="divPassword">
                            <label for="password" class="form-label mb-0 fw-bold">Пароль</label>
                            <input name="passwd" id="password" type="password" class="form-control">
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="roles" class="form-label mb-0 fw-bold">Роли</label>
                            <select name="roleFromForm" id="roles" class="form-select" size="2">
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="universalButton">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<button id="btn-edit" class="btn btn-info text-white" data-id="113">Edit</button>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script type='text/javascript'>

    async function getRoles() {
        const response = await fetch('/api/roles', {
            method: 'post',
            credentials: 'include',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
        })
        return await response.json();
    }

    async function getUsers() {
        const response = await fetch('/api/users', {
            method: 'post',
            credentials: 'include',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
        })
        return await response.json();
    }

    async function getUser(userId) {
        const response = await fetch('/api/user', {
            method: 'post',
            credentials: 'include',
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                "userId": userId,
            })
        })
        return await response.json();
    }

    async function addUser() {
        const response = await fetch('/api/adduser', {
            method: 'post',
            credentials: 'include',
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                "id": 23,
                "nick": "foo",
                "firstName": "first",
                "lastName": "second",
                "eMail": "mail@ru",
                "rolesList": ["ADMIN"],
                "password": 123
            }),
        })
    }

    //addUser()
    //console.log(getRoles());
    //console.log(getUsers());
    //console.log(getUser(66));

    const editModal = document.getElementById('editModalTemplate');
    if (editModal) {
        editModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const id = button.getAttribute('data-id')
            const action = button.getAttribute('data-action')
            const promiseUserDTO = getUser(id)
            openModal(promiseUserDTO, action)
        })
    }

    async function updateTable() {
        let tBody = document.querySelector('#usersTbody');
        while (tBody.rows.length) {
            tBody.deleteRow(0);
        }
        getUsers().then(async us => {
            const users = await us
            console.log(users)
            users.forEach(us => {
                let row = tBody.insertRow()
                let cellId = row.insertCell()
                cellId.textContent = us.id
                cellId.id = us.id

            })
        })

    }

    updateTable()

    async function openModal(promiseUser, action) {
        console.log(promiseUser)
        promiseUser.then(async u => {
            const user = await u
            //console.log(user)
            let id = user.id
            const modalInputId = editModal.querySelector('#userId')
            modalInputId.value = id

            let nick = user.nick
            const modalInputNickname = editModal.querySelector('#nickName')
            modalInputNickname.value = nick

            let firstName = user.firstName
            const modalInputFirstName = editModal.querySelector('#firstName')
            modalInputFirstName.value = firstName

            let lastName = user.lastName
            const modalInputLastName = editModal.querySelector('#lastName')
            modalInputLastName.value = lastName

            let mail = user.eMail
            const modalInputeMail = editModal.querySelector('#eMail')
            modalInputeMail.value = mail

            const inpPassword = editModal.querySelector('#divPassword')
            const delButton = editModal.querySelector('#universalButton')
            const delForm = editModal.querySelector('#editForm')
            if (action == 'delete') {
                if (!inpPassword.hasAttribute('hidden')) {
                    inpPassword.setAttribute('hidden', '');
                }
                if (delButton.classList.contains('btn-primary')) {
                    delButton.classList.remove('btn-primary');
                    delButton.classList.add('btn-danger');
                    delButton.textContent = 'Delete'
                    delForm.action = 'admin/delete?userId=' + id
                    modalInputNickname.readOnly = true
                    modalInputNickname.style.backgroundColor = 'lightgrey'
                    modalInputFirstName.readOnly = true
                    modalInputFirstName.style.backgroundColor = 'lightgrey'
                    modalInputLastName.readOnly = true
                    modalInputLastName.style.backgroundColor = 'lightgrey'
                    modalInputeMail.readOnly = true
                    modalInputeMail.style.backgroundColor = 'lightgrey'
                }
                    const select = editModal.querySelector('#roles')
                    select.options.length = 0
                    user.rolesList.forEach(r => select.add(new Option(r, r)))
                    select.readOnly = true
                    select.style.backgroundColor = 'lightgrey'
            }  else {

                fetch('/api/roles', {
                    method: 'post',
                    credentials: 'include',
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                    },
                })
                    .then((response) => response.json())
                    .then(function (data) {
                        let select = editModal.querySelector('#roles');
                        select.options.length = 0
                        for (let i = 0; i < data.length; i++) {
                            // POPULATE SELECT ELEMENT WITH JSON.
                            select.innerHTML = select.innerHTML +
                                '<option value="' + data[i]['trimName'] + '">' + data[i]['trimName'] + '</option>';
                        }

                    })
                    .catch(function (error) {
                        console.log('Request failed', error);
                    });

                if (inpPassword.hasAttribute('hidden')) {
                    inpPassword.removeAttribute('hidden')
                }
                if (delButton.classList.contains('btn-danger')) {
                    delButton.classList.remove('btn-danger');
                    delButton.classList.add('btn-primary');
                    delButton.textContent = 'Edit'
                    delForm.action = 'admin/edit?userId=' + id
                }
            }


        })
    }

    // const editModal = document.getElementById('editModalTemplate')
    // if (editModal) {
    //     editModal.addEventListener('show.bs.modal', event => {
    //
    //         const button = event.relatedTarget
    //
    //         const id = button.getAttribute('data-id')
    //         const nickName = button.getAttribute('data-nickName')
    //         const firstName = button.getAttribute('data-firstName')
    //         const lastName = button.getAttribute('data-lastName')
    //         const eMail = button.getAttribute('data-eMail')
    //         const action = button.getAttribute('data-action')
    //
    //         const modalInputId = editModal.querySelector('#userId')
    //         modalInputId.value = id
    //         const modalInputNickname = editModal.querySelector('#nickName')
    //         modalInputNickname.value = nickName
    //         const modalInputFirstName = editModal.querySelector('#firstName')
    //         modalInputFirstName.value = firstName
    //         const modalInputLastName = editModal.querySelector('#lastName')
    //         modalInputLastName.value = lastName
    //         const modalInputeMail = editModal.querySelector('#eMail')
    //         modalInputeMail.value = eMail
    //
    //         const inpPassword = editModal.querySelector('#divPassword')
    //         const delButton = editModal.querySelector('#universalButton')
    //         const delForm = editModal.querySelector('#editForm')
    //         if (action == 'delete') {
    //             if (!inpPassword.hasAttribute('hidden')) {
    //                 inpPassword.setAttribute('hidden', '');
    //             }
    //             if (delButton.classList.contains('btn-primary')) {
    //                 delButton.classList.remove('btn-primary');
    //                 delButton.classList.add('btn-danger');
    //                 delButton.textContent = 'Delete'
    //                 delForm.action = 'admin/delete?userId=' + id
    //                 modalInputNickname.readOnly = true
    //                 modalInputNickname.style.backgroundColor = 'lightgrey'
    //                 modalInputFirstName.readOnly = true
    //                 modalInputFirstName.style.backgroundColor = 'lightgrey'
    //                 modalInputLastName.readOnly = true
    //                 modalInputLastName.style.backgroundColor = 'lightgrey'
    //                 modalInputeMail.readOnly = true
    //                 modalInputeMail.style.backgroundColor = 'lightgrey'
    //
    //                 fetch('/api/users', {
    //                     method: 'post',
    //                     credentials: 'include',
    //                     headers: {
    //                         "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
    //                     },
    //                 })
    //                     .then((response) => response.json())
    //                     .then(function (users) {
    //                         let usersTable = document.getElementById('specificTable'); // поск таблицы
    //                         usersTable.querySelector('tbody').innerHTML = ''; // ее очистка
    //                         for (let i = 0; i < users.length; i++) {
    //                             // POPULATE SELECT ELEMENT WITH JSON.
    //                             usersTable.innerHTML = select.innerHTML +
    //                                 '<option value="' + data[i]['trimName'] + '">' + data[i]['trimName'] + '</option>';
    //                         }
    //
    //                     })
    //                     .catch(function (error) {
    //                         console.log('Request failed', error);
    //                     });
    //
    //                 let select = editModal.querySelector('#roles')  // заглушка. По хорошему надо запросить асинхронно роли пользователя
    //                 select.innerHTML = select.innerHTML +
    //                     '<option value="ADMIN">ADMIN</option>'
    //                 select.innerHTML = select.innerHTML +
    //                     '<option value="ADMIN">USER</option>'   // заглушка. По хорошему надо запросить асинхронно роли пользователя
    //                 select.readOnly = true
    //                 select.style.backgroundColor = 'lightgrey'
    //             }
    //         } else {
    //
    //             fetch('/api/roles', {
    //                 method: 'post',
    //                 credentials: 'include',
    //                 headers: {
    //                     "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
    //                 },
    //             })
    //                 .then((response) => response.json())
    //                 .then(function (data) {
    //                     let select = editModal.querySelector('#roles');
    //                     for (let i = 0; i < data.length; i++) {
    //                         // POPULATE SELECT ELEMENT WITH JSON.
    //                         select.innerHTML = select.innerHTML +
    //                             '<option value="' + data[i]['trimName'] + '">' + data[i]['trimName'] + '</option>';
    //                     }
    //
    //                 })
    //                 .catch(function (error) {
    //                     console.log('Request failed', error);
    //                 });
    //
    //             if (inpPassword.hasAttribute('hidden')) {
    //                 inpPassword.removeAttribute('hidden')
    //             }
    //             if (delButton.classList.contains('btn-danger')) {
    //                 delButton.classList.remove('btn-danger');
    //                 delButton.classList.add('btn-primary');
    //                 delButton.textContent = 'Edit'
    //                 delForm.action = 'admin/edit?userId=' + id
    //             }
    //         }
    //     })
    // }
</script>

</body>
</html>
