<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:sec="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Панель Администратора. Список пользователей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="col-auto me-auto">
            <span id="name" class="navbar-brand mx-0 mb-0 h1"></span>
            <span class="navbar-brand mx-0">with roles: </span>
            <span id="roles" class="navbar-brand mx-0"></span>
        </div>
        <div class="col-auto">
            <div class="navbar-text">
                <a sec:authorize="isAuthenticated()" class="link-underline-dark" href="/logout">Log out</a>
                <a sec:authorize="!isAuthenticated()" class="link-underline-dark" href="/login">Log in</a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid full">
    <div class="row vh-100">
        <div class="col-2">
            <div class="pt-3">
                <div class="row">
                    <a class="btn btn-primary text-start text-decoration-none" aria-current="page"
                       href="/admin">Admin</a>
                </div>
                <div class="row">
                    <a class="btn text-start text-decoration-none text-primary" aria-current="page"
                       href="/user">User</a>
                </div>
            </div>
        </div>
        <div class="col-10 px-0 bg-light">
            <div class="row p-4 mx-3">
                <div class="text-start">
                    <p class="fs-1 fw-bold">Admin panel</p>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">User table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{admin/adduser}">New user</a>
                    </li>
                </ul>
                <div class="border border-gray rounded-2 px-0">
                    <div class="border-bottom">
                        <p class="text-start fs-3 align-middle m-1 mx-3">All users</p>
                    </div>
                    <div class="bg-warning">
                        <div class="bg-white py-4 px-4 overflow-x-auto">
                            <table id="usersTable" class="table table-striped border-top">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Ник</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">e-Mail</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersTbody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="editModalTemplate" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm" action="#" enctype="multipart/form-data" novalidate>
                    <div class="row text-center justify-content-center">
                        <div class="col-6 mb-3 mx-4">
                            <label for="userId" class="form-label mb-0 fw-bold">ID</label>
                            <input name="id" id="userId" type="text" class="form-control" style="background: lightgray;"
                                   readonly>
                        </div>
                        <br>
                        <div class="col-6 mb-3 mx-4">
                            <label for="nickName" class="form-label mb-0 fw-bold">Ник</label>
                            <input name="nickName" id="nickName" type="text" class="form-control">
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="firstName" class="form-label mb-0 fw-bold">Имя</label>
                            <input name="firstName" id="firstName" type="text" class="form-control">
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="lastName" class="form-label mb-0 fw-bold">Фимилия</label>
                            <input name="lastName" id="lastName" type="text" class="form-control">
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="eMail" class="form-label mb-0 fw-bold">Email address</label>
                            <input name="eMail" id="eMail" type="email" class="form-control" autocomplete="off">
                        </div>
                        <div class="col-6 mb-3 mx-4" id="divPassword">
                            <label for="password" class="form-label mb-0 fw-bold">Пароль</label>
                            <input name="passwd" id="password" type="password" class="form-control">
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="rolesEdit" class="form-label mb-0 fw-bold">Роли</label>
                            <select name="roleFromForm" id="rolesEdit" class="form-select" size="2">
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="editButton">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="deleteModalTemplate" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" action="#" enctype="multipart/form-data" novalidate>
                    <div class="row text-center justify-content-center">
                        <div class="col-6 mb-3 mx-4">
                            <label for="userIdDel" class="form-label mb-0 fw-bold">ID</label>
                            <input name="id" id="userIdDel" type="text" class="form-control"
                                   style="background: lightgray;" readonly>
                        </div>
                        <br>
                        <div class="col-6 mb-3 mx-4">
                            <label for="nickNameDel" class="form-label mb-0 fw-bold">Ник</label>
                            <input name="nickName" id="nickNameDel" type="text" class="form-control"
                                   style="background: lightgray;" readonly>
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="firstNameDel" class="form-label mb-0 fw-bold">Имя</label>
                            <input name="firstName" id="firstNameDel" type="text" class="form-control"
                                   style="background: lightgray;" readonly>
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="lastNameDel" class="form-label mb-0 fw-bold">Фимилия</label>
                            <input name="lastName" id="lastNameDel" type="text" class="form-control"
                                   style="background: lightgray;" readonly>
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="eMailDel" class="form-label mb-0 fw-bold">Email address</label>
                            <input name="eMail" id="eMailDel" type="email" class="form-control" autocomplete="off"
                                   style="background: lightgray;" readonly>
                        </div>
                        <div class="col-6 mb-3 mx-4">
                            <label for="rolesDel" class="form-label mb-0 fw-bold">Роли</label>
                            <select name="roleFromForm" id="rolesDel" class="form-select" size="2"
                                    style="background: lightgray;" readonly>
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<button id="btn-edit" class="btn btn-info text-white" data-id="113">Edit</button>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script type='text/javascript'>

    updateTableAndNav()

    async function getUsers() {
        const response = await fetch('/api/users', {
            method: 'post',
            credentials: 'include',
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
            },
        })
        return await response.json();
    }

    async function getUser(userId) {
        const response = await fetch('/api/user', {
            method: 'post',
            credentials: 'include',
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
            body: JSON.stringify({
                "userId": userId,
            })
        })
        return await response.json();
    }

    const editModal = document.getElementById('editModalTemplate');
    if (editModal) {
        editModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const id = button.getAttribute('data-id')
            const promiseUserDTO = getUser(id)
            editingEditModal(promiseUserDTO)
        })
    }

    const deleteModal = document.getElementById('deleteModalTemplate');
    if (deleteModal) {
        deleteModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const id = button.getAttribute('data-id')
            const promiseUserDTO = getUser(id)
            editingDeleteModal(promiseUserDTO)
        })
    }

    async function updateTableAndNav() {
        let tBody = document.querySelector('#usersTbody');
        while (tBody.rows.length) {
            tBody.deleteRow(0);
        }
        getUsers().then(async us => {
            const users = await us
            users.forEach(user => {
                let row = tBody.insertRow()

                let cellId = row.insertCell()
                cellId.textContent = user.id
                cellId.classList.add('align-middle')
                cellId.id = user.id

                let cellNick = row.insertCell()
                cellNick.textContent = user.nick
                cellNick.classList.add('align-middle')
                cellNick.id = user.nick

                let cellFirstName = row.insertCell()
                cellFirstName.textContent = user.firstName
                cellFirstName.classList.add('align-middle')
                cellFirstName.id = user.firstName

                let cellLastName = row.insertCell()
                cellLastName.textContent = user.lastName
                cellLastName.classList.add('align-middle')
                cellLastName.id = user.lastName

                let celleMail = row.insertCell()
                celleMail.textContent = user.eMail
                celleMail.classList.add('align-middle')
                celleMail.id = user.eMail

                let cellRoles = row.insertCell()
                cellRoles.textContent = user.rolesList
                cellRoles.classList.add('align-middle')
                cellRoles.id = "roles"

                let cellEdit = row.insertCell()
                let buttonEdit = document.createElement('button');
                buttonEdit.setAttribute('class', "btn btn-info text-white")
                buttonEdit.setAttribute('type', "button")
                buttonEdit.setAttribute('data-id', user.id)
                buttonEdit.setAttribute("data-bs-toggle", "modal")
                buttonEdit.setAttribute('data-bs-target', "#editModalTemplate")
                buttonEdit.setAttribute('data-action', "edit")
                buttonEdit.textContent = "Edit"
                cellEdit.appendChild(buttonEdit)

                let cellDel = row.insertCell()
                let buttonDel = document.createElement('button');
                buttonDel.setAttribute('class', "btn btn-danger text-white")
                buttonDel.setAttribute('type', "button")
                buttonDel.setAttribute('data-id', user.id)
                buttonDel.setAttribute("data-bs-toggle", "modal")
                buttonDel.setAttribute('data-bs-target', "#deleteModalTemplate")
                buttonDel.setAttribute('data-action', "delete")
                buttonDel.textContent = "Delete"
                cellDel.appendChild(buttonDel)

            })
        })

        let authUser = await fetch('/api/userself', {
            method: 'post',
            credentials: 'include',
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            },
        }).then(response => response.json())
        let spanName = document.querySelector('#name');
        let spanRoles = document.querySelector('#roles');
        let rolesText = ""
        authUser.rolesList.forEach(role => rolesText = rolesText + " " + role)
        spanName.textContent = authUser.nick
        spanRoles.textContent = rolesText

    }

    async function editingDeleteModal(promiseUser) {
        promiseUser.then(async u => {
            const user = await u

            const delModalInputId = deleteModal.querySelector('#userIdDel')
            delModalInputId.value = user.id

            const delModalInputNickname = deleteModal.querySelector('#nickNameDel')
            delModalInputNickname.value = user.nick

            const delModalInputFirstName = deleteModal.querySelector('#firstNameDel')
            delModalInputFirstName.value = user.firstName

            const delModalInputLastName = deleteModal.querySelector('#lastNameDel')
            delModalInputLastName.value = user.lastName

            const delModalInputeMail = deleteModal.querySelector('#eMailDel')
            delModalInputeMail.value = user.eMail

            const deleteButton = deleteModal.querySelector('#deleteButton')

            const delMSelectRoles = deleteModal.querySelector('#rolesDel')
            delMSelectRoles.options.length = 0
            user.rolesList.forEach(r => delMSelectRoles.add(new Option(r, r)))

            deleteButton.onclick = function () {

                const jsonDTO = {
                    "id": user.id,
                    "nick": user.nick,
                    "firstName": user.firstName,
                    "lastName": user.lastName,
                    "eMail": user.eMail,
                    "rolesList": user.rolesList,
                    "password": "password"
                }
                fetch('/api/delete', {
                    method: 'post',
                    credentials: 'include',
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    },
                    body: JSON.stringify(jsonDTO)
                }).then(bootstrap.Modal.getInstance(deleteModal).hide())
                    .then(() => updateTableAndNav())
                    .catch(function (error) {
                        console.log('Request failed', error);
                    });

            }
        })
    }

    const editModalInputId = editModal.querySelector('#userId')
    const editModalInputNickname = editModal.querySelector('#nickName')
    const editModalInputFirstName = editModal.querySelector('#firstName')
    const editModalInputLastName = editModal.querySelector('#lastName')
    const editModalInputeMail = editModal.querySelector('#eMail')
    const editMSelectRoles = editModal.querySelector('#rolesEdit')

    async function editingEditModal(promiseUser) {
        promiseUser.then(async u => {
            const user = await u

            editModalInputId.value = user.id
            editModalInputNickname.value = user.nick
            editModalInputFirstName.value = user.firstName
            editModalInputLastName.value = user.lastName
            editModalInputeMail.value = user.eMail
        })
            .then(async () => {
                fetch('/api/roles', {
                    method: 'post',
                    credentials: 'include',
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
                    },
                })
                    .then((response) => response.json())
                    .then(function (data) {
                        const editMSelectRoles = editModal.querySelector('#rolesEdit')
                        editMSelectRoles.options.length = 0
                        for (let i = 0; i < data.length; i++) {
                            editMSelectRoles.innerHTML = editMSelectRoles.innerHTML +
                                '<option value="' + data[i]['trimName'] + '">' + data[i]['trimName'] + '</option>';
                        }

                    })
                    .catch(function (error) {
                        console.log('Request failed', error);
                    });

                const editButton = editModal.querySelector('#editButton')
                editButton.onclick = function () {

                    const s = editMSelectRoles.value
                    if (s == undefined) {
                        editMSelectRoles.value = "USER"
                    }
                    const editMPassword = editModal.querySelector('#password')
                    const p = editMPassword.value
                    if (p == undefined) {
                        editMPassword.value = "password"
                    }
                    const jsonDTO = {
                        "id": editModalInputId.value,
                        "nick": editModalInputNickname.value,
                        "firstName": editModalInputFirstName.value,
                        "lastName": editModalInputLastName.value,
                        "eMail": editModalInputeMail.value,
                        "rolesList": [editMSelectRoles.value],
                        "password": editMPassword .value
                    }
                    fetch('/api/edit', {
                        method: 'post',
                        credentials: 'include',
                        headers: {
                            "Content-type": "application/json; charset=UTF-8"
                        },
                        body: JSON.stringify(jsonDTO)
                    }).then(bootstrap.Modal.getInstance(editModal).hide())
                        .then(() => updateTableAndNav())
                        .catch(function (error) {
                            console.log('Request failed', error);
                        });

                }
            })
    }

</script>

</body>
</html>
